APP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=abcd
POSTGRES_DB=clean_arch

MONGO_URI=mongodb://admin:admin123@localhost:27017/?authSource=admin
MONGO_DB=clean_arch_logs

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=my-super-secret-key

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=events

# For Docker Compose, you can use the following environment variables:
# POSTGRES_HOST=postgres
# MONGO_URI=mongodb://admin:admin123@mongo:27017/?authSource=admin
# REDIS_ADDR=redis:6379
# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/